@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 760px) { @content; } //was 767px
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
  font-size:100%;
  font-family: Helvetica, Arial, sans-serif;
  background:#f1f1f1;
}
h1, h2, h3, h4, h5, h6, p, li, input {
  margin-bottom:1rem;
}
a {
  color:#cc3f85;
}
a:hover {
  color:#b23430;
}
